:root {
  --fl-primary-color: #84fab0;
  --fl-primary-color-hover: #7deda6;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.fl-navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #e3e3e3;
  min-height: 65px;
}

.fl-card {
  border-bottom: 2px solid #e3e3e3 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 3px;
  background-color: #fff;
}

.fl-heading-text-xl {
  font-size: 48px;
  font-weight: 200;
  color: #333333;
}

.fl-heading-text-lg {
  font-size: 30px;
  font-weight: 200;
  color: #333333;
}

.fl-heading-text-med {
  font-size: 26px;
  font-weight: 200;
  color: #333333;
}

.fl-button-primary {
  background-color: var(--fl-primary-color);
  border: none;
  border-radius: 8px;
  color: rgb(28, 28, 28);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.fl-button-primary:hover {
  background-color: var(--fl-primary-color-hover);
}

.fl-button-primary-small {
  background-color: var(--fl-primary-color);
  border: none;
  border-radius: 8px;
  color: rgb(28, 28, 28);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.fl-button-primary-small:hover {
  background-color: var(--fl-primary-color-hover);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.fl-input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 4px solid #e3e3e3;
  border-radius: 3px;
  background-color: #fff;
  height: 50px;
}

.fl-input:focus {
  border-bottom: 4px solid var(--fl-primary-color);
  outline: 0 none !important;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  background-color: #fff;
}

.fl-textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 4px solid #e3e3e3;
  border-radius: 3px;
  background-color: #fff;
  height: 150px;
}

.fl-textarea:focus {
  border-bottom: 4px solid var(--fl-primary-color);
  outline: 0 none !important;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  background-color: #fff;
}

.fl-checkbox input[type='checkbox'] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.fl-checkbox input[type='checkbox']:checked {
  background-color: var(--fl-primary-color);
  color: #333333;
  outline: none;
  border: none;
}

.fl-checkbox input[type='checkbox']:focus {
  outline: 0 none;
  box-shadow: none;
}

.fl-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}
.fl-range:focus {
  outline: 0;
}
.fl-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.fl-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.fl-range::-moz-focus-outer {
  border: 0;
}
.fl-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--fl-primary-color);
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.job-form-steps-heading {
  font-size: 44px;
  font-weight: 300;
  color: #333333;
}

.job-form-steps-subheading {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
}

.selected-skills {
  margin-bottom: 20px;
}

.selected-skill {
  background-color: var(--fl-primary-color);
  color: #333333;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
}

.filter-title {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 10px;
}

.job-list-container {
  margin-bottom: 20px;
  border: 2px solid #e7e7e7;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.job-list-container:hover {
  border-top: 2px solid var(--fl-primary-color);
  border-bottom: 6px solid var(--fl-primary-color);
  border-left: 2px solid var(--fl-primary-color);
  border-right: 2px solid var(--fl-primary-color);
}

.job-list-date {
  font-size: 12px;
  font-weight: 300;
  color: #808080;
  margin-bottom: 5px;
}

.job-list-report {
  font-size: 12px;
  font-weight: 300;
  color: #d65959;
  margin-bottom: 5px;
}

.job-list-report:hover {
  color: #b44949;
  cursor: pointer;
}

.job-list-title {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 20px;
}

.job-list-title:hover {
  cursor: pointer;
}

.job-list-description {
  font-size: 14px;
  font-weight: 300;
  color: #808080;
  margin-bottom: 20px;
}

.job-pay-details {
  margin-bottom: 20px;
  font-size: 12px;
  color: #808080;
  font-weight: 300;
}

.job-list-skills {
  margin-bottom: 10px;
}

.job-list-skill {
  background-color: var(--fl-primary-color);
  color: #333333;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
}

.no-decoration {
  text-decoration: none;
}

.job-page-title {
  font-size: 30px;
  font-weight: 300;
  color: #333333;
}

.pretty-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.job-list-pay-type {
  font-size: 14px;
  font-weight: 300;
  color: #808080;
  margin-bottom: 5px;
}

.job-list-pay-type span {
  font-weight: 500;
}

.job-proposal-form {
  width: 100%;
  height: 500px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
  border: 2px solid #e7e7e7;
}

.job-proposal-form:focus {
  border-left: 2px solid var(--fl-primary-color);
  border-right: 2px solid var(--fl-primary-color);
  border-top: 2px solid var(--fl-primary-color);
  border-bottom: 4px solid var(--fl-primary-color);
  outline: none;
}

.submit-proposal-title {
  font-size: 50px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 10px;
}

.job-section {
  margin-bottom: 50px;
  border: 2px solid #e7e7e7;
  padding: 20px;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.job-section-subheading {
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px;
}

.fl-proposal-input {
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
  border: 2px solid #e7e7e7;
}

.fl-proposal-input:focus {
  border-left: 2px solid var(--fl-primary-color);
  border-right: 2px solid var(--fl-primary-color);
  border-top: 2px solid var(--fl-primary-color);
  border-bottom: 4px solid var(--fl-primary-color);
  outline: none;
}

.success-alert {
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease;
  border: 2px solid #9de38b;
  background-color: #7deda6;
  color: #22422e;
}

.fl-navbar .dropdown-menu {
  border-radius: 0px;
  border: none;
  width: 250px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.fl-navbar .dropdown-item {
  padding: 10px 15px;
}

.fl-navbar .dropdown-divider {
  height: 0;
  margin: 5px;
  overflow: hidden;
  border-top: 1px solid #e8e8e8;
}

.fl-navbar .dropdown-title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
}
